{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>404 Page</title>
    <style>
        img {
            height: 80vh;
        }
        p {
            font-size: x-large;
        }
        a {
            color: red;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <center>
        <img src="{% static 'images/404-error.svg' %}" alt="The requested URL can't be found">
        <p>OOPS! The requested URL can't be found</p>
        <p>Head back to the <a href="">DASHBOARD</a></p>
    </center>
</body>
</html>