<!-- Common HTML template code for all the dashboard pages -->
{% extends 'FileSaver/base.html' %}

<!-- Title block for all the webpages -->
{% block title %}
    Analysis Window
{% endblock %}

<!-- Load static images, css and js defined in STATIC_URL in settings.py -->
{% load static %}

<!-- Load main content of web page -->
{% block main_content %}

    <!-- This page contains two options of analysing data -->
    <!-- 1. From a particular site out of the 5 sites -->
    <!-- 2. Among different sites -->
    <main class="mt-5 pt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 fw-normal fs-4">Analysis Window</div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="dropdown">
                        <!-- 1. From a particular site out of the 5 sites -->
                        <a class="btn btn-secondary bg-danger dropdown-toggle fs-5 text-capitalize" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;">
                            Analyse Solar Data from a particular site
                        </a>
                      
                        <!-- Again two options -->
                        <!-- 1. Based on a particular date -->
                        <!-- 2. Between 2 dates for a particular invertor -->
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 100%; background-color: #ffeaea;">  
                            <li class="text-capitalize fs-5 mx-auto text-decoration-underline mb-2" style="width: fit-content;">Analysis on a particular date</li>
                            <li>
                                <div class="container">
                                    <form action="#">
                                        <div class="input-group mb-3">
                                            <input type="date" class="form-control">
                                        </div>
                                        <div class="form-floating">
                                            <select class="form-select mb-3" aria-label="Select the particular for comparison" id="siteselect">
                                                <option selected>Click to select</option>
                                                <option value="1">Site Beawar</option>
                                                <option value="2">Site Jharkhand</option>
                                                <option value="3">Site Castamet</option>
                                                <option value="4">Site Roorkee</option>
                                                <option value="5">Site Panipat</option>
                                            </select>
                                            <label for="siteselect">Choose A Site</label>
                                        </div>
                                        <!-- button to select all the invertors from the dropdown
                                        select menu to choose 2 invertors from -->
                                        <div class="form-floating">
                                            <select class="form-select mb-3" aria-label="Select the particular for comparison" id="selectinvertor">
                                                <option selected>Click to select</option>
                                                <option value="1">Invertor i+1</option>
                                            </select>
                                            <label for="selectinvertor">Select the invertor</label>
                                        </div>
                                        <button type="submit" class="btn btn-danger bg-gradient">Analyse</button>
                                    </form>
                                </div>
                            </li>
                            <br>
                            <li class="text-capitalize fs-5 mx-auto text-decoration-underline" style="width: fit-content;">
                                Analysis between 2 dates on a site of a particular invertor
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="dropdown">
                        <!-- 2. Among different sites -->
                        <a class="btn btn-secondary bg-danger dropdown-toggle fs-5 text-capitalize" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;">
                            Analyse Solar data between different sites
                        </a>

                        <!-- Again two options -->
                        <!-- 1. Based on a particular date -->
                        <!-- 2. Between 2 dates for a particular invertor -->
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 100%; background-color: #ffeaea;">
                            <li class="text-capitalize fs-5 mx-auto text-decoration-underline mb-2" style="width: fit-content;">Analysis based on a particular (Comparison between all sites)</li>
                            <li>
                                <div class="container">
                                    <form action="#">
                                        <div class="input-group mb-3">
                                            <input type="date" class="form-control">
                                        </div>
                                        <div class="form-floating">
                                            <select class="form-select mb-3" aria-label="Select the particular for comparison" id="chooseparticular">
                                                <option selected>Click to select</option>
                                                <option value="1">Daily generation</option>
                                                <option value="2">Performance Ratio</option>
                                                <option value="3">Irradiance(inclinced)</option>
                                                <option value="4">Loss due to low Irradiance</option>
                                                <option value="5">Loss due to deemed</option>
                                                <option value="6">Loss due to GRID outage</option>
                                                <option value="7">Loss due to BreakDown</option>
                                                <option value="8">Loss due to Dust</option>
                                                <option value="9">Misc. Losses</option>
                                            </select>
                                            <label for="chooseparticular">Choose a particular to compare</label>
                                        </div>
                                        <button type="submit" class="btn btn-danger bg-gradient">Analyse</button>
                                    </form>
                                </div>
                            </li>
                            <br>
                            <li class="text-capitalize fs-5 mx-auto text-decoration-underline" style="width: fit-content;">
                                Analysis between 2 dates
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- This the display area after selecting the form -->
            <!-- It displays the parameters selected for analysis of data -->
            <!-- Then major graphs are also displayed along with the comparison tables -->
            <div class="container">
                <div class="p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        Analysis mode: Analyse Solar data from a particular site<br>
                        Date:<br>
                        Particular:<br>
                        Invertors to compare: <br>
                        Graph area
                      <h1 class="display-6 fw-bold">Analyse Solar data from a particular site</h1>
                      <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
                      <button class="btn btn-primary btn-lg" type="button">Example button</button>
                    </div>
                  </div>
            </div>
    </main>
    <!-- Main cards area -->
{% endblock %}