{% extends 'FileSaver/base.html' %}
{% block title %}
    Analysis Window
{% endblock %}
{% load static %}

{% block main_content %}
    <!-- Main Cards area -->
    <main class="mt-5 pt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 fw-normal fs-4">Analysis Window</div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="dropdown">
                        <a class="btn btn-secondary bg-danger dropdown-toggle fs-5 text-capitalize" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;">
                            Analyse Solar Data from a particular site
                        </a>
                      
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 100%; background-color: #ffeaea;">  
                            <li class="text-capitalize fs-5 mx-auto text-decoration-underline mb-2" style="width: fit-content;">Analysis on a particular date</li>
                            <li>
                                <div class="container">
                                    <form action="#">
                                        <div class="input-group mb-3">
                                            <input type="date" class="form-control">
                                        </div>
                                        <div class="form-floating">
                                            <select class="form-select mb-3" aria-label="Select the particular for comparison" id="siteselect">
                                                <option selected>Click to select</option>
                                                <option value="1">Site Beawar</option>
                                                <option value="2">Site Jharkhand</option>
                                                <option value="3">Site Castamet</option>
                                                <option value="4">Site Roorkee</option>
                                                <option value="5">Site Panipat</option>
                                            </select>
                                            <label for="siteselect">Choose A Site</label>
                                        </div>
                                        <!-- button to select all the invertors from the dropdown
                                        select menu to choose 2 invertors from -->
                                        <div class="form-floating">
                                            <select class="form-select mb-3" aria-label="Select the particular for comparison" id="selectinvertor">
                                                <option selected>Click to select</option>
                                                <option value="1">Invertor i+1</option>
                                            </select>
                                            <label for="selectinvertor">Select the invertor</label>
                                        </div>
                                        <button type="submit" class="btn btn-danger bg-gradient">Analyse</button>
                                    </form>
                                </div>
                            </li>
                            <br>
                            <li class="text-capitalize fs-5 mx-auto text-decoration-underline" style="width: fit-content;">
                                Analysis between 2 dates on a site of a particular invertor
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="dropdown">
                        <a class="btn btn-secondary bg-danger dropdown-toggle fs-5 text-capitalize" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;">
                            Analyse Solar data between different sites
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 100%; background-color: #ffeaea;">
                            <li class="text-capitalize fs-5 mx-auto text-decoration-underline mb-2" style="width: fit-content;">Analysis based on a particular (Comparison between all sites)</li>
                            <li>
                                <div class="container">
                                    <form action="#">
                                        <div class="input-group mb-3">
                                            <input type="date" class="form-control">
                                        </div>
                                        <div class="form-floating">
                                            <select class="form-select mb-3" aria-label="Select the particular for comparison" id="chooseparticular">
                                                <option selected>Click to select</option>
                                                <option value="1">Daily generation</option>
                                                <option value="2">Performance Ratio</option>
                                                <option value="3">Irradiance(inclinced)</option>
                                                <option value="4">Loss due to low Irradiance</option>
                                                <option value="5">Loss due to deemed</option>
                                                <option value="6">Loss due to GRID outage</option>
                                                <option value="7">Loss due to BreakDown</option>
                                                <option value="8">Loss due to Dust</option>
                                                <option value="9">Misc. Losses</option>
                                            </select>
                                            <label for="chooseparticular">Choose a particular to compare</label>
                                        </div>
                                        <button type="submit" class="btn btn-danger bg-gradient">Analyse</button>
                                    </form>
                                </div>
                            </li>
                            <br>
                            <li class="text-capitalize fs-5 mx-auto text-decoration-underline" style="width: fit-content;">
                                Analysis between 2 dates
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        Analysis mode: Analyse Solar data from a particular site<br>
                        Date:<br>
                        Particular:<br>
                        Invertors to compare: <br>
                        Graph area
                      <h1 class="display-6 fw-bold">Analyse Solar data from a particular site</h1>
                      <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
                      <button class="btn btn-primary btn-lg" type="button">Example button</button>
                    </div>
                  </div>
            </div>
    </main>
    <!-- Main cards area -->
{% endblock %}
    
</body>
</html>