<!-- Common HTML template code for all the dashboard pages -->
{% extends 'FileSaver/base.html' %}

<!-- Title block for all the webpages -->
{% block title %}
    Analysis Window
{% endblock %}

<!-- Load static images, css and js defined in STATIC_URL in settings.py -->
{% load static %}

<!-- Load main content of web page -->
{% block main_content %}

    <!-- This page contains two options of analysing data -->
    <!-- 1. From a particular site out of the 5 sites -->
    <!-- 2. Among different sites -->
    <main class="mt-5 pt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 fw-normal fs-4">Analysis Window</div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 my-2">
                    <div class="dropdown">
                        <!-- 1. From a particular site out of the 5 sites -->
                        <button class="btn btn-secondary bg-danger dropdown-toggle fs-5 text-capitalize" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;">
                            Analyse Solar Data from a particular site
                        </button>
                      
                        <!-- Again two options -->
                        <!-- 1. Based on a particular date -->
                        <!-- 2. Between 2 dates for a particular invertor -->
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 100%; background-color: #ffeaea;">  
                            <li class="text-capitalize fs-5 mx-auto text-decoration-underline mb-2" style="width: fit-content;">Analysis on a particular date</li>
                            <li>
                                <div class="container">
                                    <form action="#" method="GET">
                                        <!-- {% csrf_token %} -->
                                        <div class="mb-2 col-12 text-danger fw-bold form-text text-center">
                                            Fill up the date, then select the site, then select the invertors.
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="date" class="form-control" name="form1date">
                                        </div>
                                        <div class="form-floating">
                                            <select class="form-select mb-3" aria-label="Select the particular for comparison" id="siteselect" name="siteselect">
                                                <option selected>Click to select</option>
                                                <option value="1">Site Beawar</option>
                                                <option value="2">Site Jharkhand</option>
                                                <option value="3">Site Castamet</option>
                                                <option value="4">Site Roorkee</option>
                                                <option value="5">Site Panipat</option>
                                            </select>
                                            <label for="siteselect">Choose A Site</label>
                                        </div>
                                        <!-- button to select all the invertors from the dropdown
                                        select menu to choose 2 invertors from -->
                                        <div class="row">
                                            <div class="col-10" id="dynamicmultipleselect0">
                                                <div class="form-floating">
                                                    <select class="form-select mb-3 invertordropdown" aria-label="Select the particular for comparison" id="selectinvertor">
                                                        <option selected>Click to select</option>
                                                        <!-- select option list for dropdown by ajax -->
                                                    </select>
                                                    <label for="selectinvertor">Select the invertor</label>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <a class="mt-2 btn btn-danger py-2 fw-bold" onclick="duplicate()" id="clone">Add</a>
                                                <!-- <a class="mt-2 btn btn-danger py-2 fw-bold">Add</a> -->
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-danger bg-gradient">Analyse</button>
                                    </form>
                                </div>
                            </li>
                            <br>
                            <li class="text-capitalize fs-5 mx-auto text-decoration-underline" style="width: fit-content;">
                                <!-- Analysis between 2 dates on a site of a particular invertor -->
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 my-2">
                    <div class="dropdown">
                        <!-- 2. Among different sites -->
                        <button class="btn btn-secondary bg-danger dropdown-toggle fs-5 text-capitalize" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;">
                            Analyse Solar data between different sites
                        </button>

                        <!-- Again two options -->
                        <!-- 1. Based on a particular date -->
                        <!-- 2. Between 2 dates for a particular invertor -->
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 100%; background-color: #ffeaea;">
                            <li class="text-capitalize fs-5 mx-auto text-decoration-underline mb-2" style="width: fit-content;">Analysis based on a particular (Comparison between all sites)</li>
                            <li>
                                <div class="container">
                                    <form action="{% url 'siteanalysis' %}" method="GET">
                                        {% csrf_token %}
                                        <div class="mb-2 col-12 text-danger fw-bold form-text text-center">
                                            Fill up the date, then select the particular for comparison among all sites
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="date" class="form-control" name="form2-date" required>
                                        </div>
                                        <div class="form-floating">
                                            <select class="form-select mb-3" aria-label="Select the particular for comparison" id="chooseparticular" name="form2-particular" required>
                                                <option selected value="" hidden="" disabled="disabled">Click to select</option>
                                                <option value="1">Daily generation</option>
                                                <option value="2">Performance Ratio</option>
                                                <option value="3">Irradiance(inclined)</option>
                                                <option value="4">Loss due to low Irradiance</option>
                                                <option value="5">Loss due to deemed</option>
                                                <option value="6">Loss due to GRID outage</option>
                                                <option value="7">Loss due to BreakDown</option>
                                                <option value="8">Loss due to Dust</option>
                                                <option value="9">Misc. Losses</option>
                                            </select>
                                            <label for="chooseparticular">Choose a particular to compare</label>
                                        </div>
                                        <button type="submit" class="btn btn-danger bg-gradient">Analyse</button>
                                    </form>
                                </div>
                            </li>
                            <br>
                            <li class="text-capitalize fs-5 mx-auto text-decoration-underline" style="width: fit-content;">
                                <!-- Analysis between 2 dates -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- This the display area after selecting the form -->
            <!-- It displays the parameters selected for analysis of data -->
            <!-- Then major graphs are also displayed along with the comparison tables -->
            <br>
            <div class="container">
                <div class="p-5 mb-4 bg-light rounded-3">
                    
                    <div class="container-fluid py-5">
                      <p class="fs-2 text-center">Choose from the two options in the Analysis Window.</p>
                    </div>

                    {% if sitewise %}
                    <div class="container-fluid py-5">
                        Analysis Mode: Analyse Solar Data Between Different sites<br>
                        Date: {{ date }}<br>
                        Particular chosen: {{ particular|safe }}<br>
                        <p class="fs-4">The results have been compiled, presented. Scroll down to view the tables and the graphs.</p>
                            <center>
                                <div class="row">
                                    <div class="col-md-5 col-12">
                                        <br>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Sites</th>
                                                    <th scope="col">{{ particular|safe }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Site Panipat</th>
                                                    <td>{{ pvalue }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Site Jharkhand</th>
                                                    <td>{{ jvalue }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Site Castamet</th>
                                                    <td>{{ cvalue }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Site Beawar</th>
                                                    <td>{{ bvalue }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Site Roorkee</th>
                                                    <td>{{ rvalue }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-12 col-md-2"></div>
                                    <div class="col-md-5 col-12">
                                        <canvas id="compChart" width="200" height="150"></canvas>
                                    </div>
                                </div>
                                
                        </center>
                        
                    </div>
                    {% endif %}
                  </div>
            </div>
    </main>
    <!-- Main cards area -->
{% endblock %}



{% block extra_scripts %}
    {% if sitewise %}
        <script>
            var cmpChart = document.getElementById('compChart').getContext('2d');
            var cdata = JSON.parse("{{ cvalue|escapejs }}");
            var pdata = JSON.parse("{{ pvalue|escapejs }}");
            var jdata = JSON.parse("{{ jvalue|escapejs }}");
            var bdata = JSON.parse("{{ bvalue|escapejs }}");
            var rdata = JSON.parse("{{ rvalue|escapejs }}");
            var myCmpChart = new Chart(cmpChart, {
                type: 'bar',
                data: {
                    labels: ['Panipat', 'Jharkhand', 'Castamet', 'Beawar', 'Roorkee'],
                    datasets: [{
                        // label: {{ particular|safe }};
                        label: 'Value of the particular',
                        
                        data: [pdata, jdata, cdata, bdata, rdata],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        yAxes: {
                            title: {
                                display: true,
                                text: 'Particular chosen',
                                font: {
                                    size: 15,
                                    weight: 600,
                                }
                            },
                            ticks: {
                                precision: 2
                            }
                        },
                        xAxes: {
                            title: {
                                display: true,
                                text: 'Different Sites',
                                font: {
                                    size: 15,
                                    weight: 600,
                                }
                            }
                        }
                    }
                }
            });
        </script>
    {% endif %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>
    <script>
        $(document).ready(function() {
            $('select#siteselect').change(function() {
                var optionSelected = $(this).find("option:selected");
                var valueSelected = optionSelected.val();
                var site_name = optionSelected.text();
                console.log(optionSelected);
                console.log(valueSelected);
                console.log(site_name);

                data = {'site': site_name};
                $.ajax({
                    type: "GET",
                    url: "/getdetails",
                    data: {'site': site_name},
                    dataType: "json",

                    success:function(result) {
                        $('#selectinvertor option:not(:selected)').remove();
                        for(var i = 1; i<=result; i++) {
                            $('#selectinvertor').append('<option>Invertor-'+i+'</option>');
                        };
                    },
                    error: function() {
                        console.log('Debug required!!');
                    }
                });
            });
        });
    </script>
    <script>
        var i = 0;

        function duplicate() {
            var original = document.getElementById('dynamicmultipleselect'+i);
            var originalform = document.getElementById('dynamicmultipleselect'+i).getElementsByClassName('invertordropdown')[0];
            originalform.name = "form1-name1";
            // var originalform = original.getElementById('selectinvertor');
            console.log(originalform);
            var countAll = 0;
            var selected = [];
            // for(var option of document.getElementById('dynamicmultipleselect'+i).select.options) {
            // for(var option of document.getElementById('selectinvertor').options) {
            //     if(option.selected) {
            //         selected.push(option.value);
            //     }
            //     ++countAll;
            // }
            for(var option of originalform.options) {
                if(option.selected) {
                    selected.push(option.value);
                }
                ++countAll;
            }
            countAll = countAll - 1;

            if(countAll > 1) {
                // var selected = [...original.selectedOptions].map(option => option.value);
                console.log(selected[0]);
                // console.log(countAll);
                var clone = original.cloneNode(true);
                clone.id = "dynamicmultipleselect"+ ++i;
                // console.log(clone);
                original.parentNode.appendChild(clone);

                var cloneform = document.getElementById('dynamicmultipleselect'+i).getElementsByClassName('invertordropdown')[0];
                for(var j=0; j<countAll; j++) {
                    if(cloneform.options[j].value == selected[0]) {
                        cloneform.remove(j);
                    }
                }
                
            }
            else {
                document.getElementById('clone').style.visibility = 'hidden';
                alert("All the invertors from this site have been selected!!");
            }
            
        }
    </script>
{% endblock %}