{% extends 'FileSaver/base.html' %}
{% block title %}
  Solar Exception Report
{% endblock %}
{% load static %}
    <!-- Main Cards area -->
    {% block main_content %}
      <main class="mt-5 pt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 fw-normal fs-4">Solar Exception Report</div>
            </div>
            <em>
                <code class="fs-6">All target values are as per FY 20-21</code>
            </em>
            <br><br><br>
            <div class="container-fluid">
                <table class="table table-hover">
                    <thead class="table-danger">
                      <tr>
                        <th scope="col">S.No.</th>
                        <th scope="col">Particular</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                        <th scope="col">Target</th>
                        <th scope="col">Actual</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" rowspan="2">1</th>
                            <td rowspan="2">Generation (Today)</td>
                            <td>KWH</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                          </tr>
                        <tr>
                        <td>PLF</td>
                        <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                            <td>192</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Performance Ratio (PR)</td>
                        <td>%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                        <td>81.1%</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Irradiance(Inclined)</td>
                        <td>kWh/m<sup>2</sup></td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                        <td>6.4</td>
                      </tr>
                      <tr>
                        <th scope="row">4a</th>
                        <td> Loss Due to Low Irradiance</td>
                        <td>% PLF</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                      </tr>
                      <tr>
                        <th scope="row">4b</th>
                        <td>Loss Due to Deemed</td>
                        <td>% PLF</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                      </tr>
                      <tr>
                        <th scope="row">4c</th>
                        <td>Loss Due to GRID outage</td>
                        <td>% PLF</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                      </tr>
                      <tr>
                        <th scope="row">4d</th>
                        <td>Loss Due to BD</td>
                        <td>% PLF</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                      </tr>
                      <tr>
                        <th scope="row">4e</th>
                        <td>Loss due to Dust</td>
                        <td>% PLF</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                      </tr>
                      <tr>
                        <th scope="row">4f</th>
                        <td>Misc. Loss</td>
                        <td>% PLF</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                        <td>-3.0%</td>
                      </tr>
                      <tr>
                        <th scope="row">Today Major Observation</th>
                        <td></td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                        <td>i) Total PR difference : 4.75%<br>
                            a)1.0% Misc losses<br>
                            b)-0.5% due to temp. difference<br>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
      </main>
    {% endblock %}
    <!-- Main cards area -->

</body>
</html>